
/* Styles pour la page d'index (index.html) */
body.index {
    background-image: url('image/backgroundindex.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Styles pour la deuxième page (page2.html) */
  body.pages2 {
    background-image: url('image/backgroundpages2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body.pages3 {
    background-image: url('image/backgroundpages3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

/* Style de base pour les catégories (liens) */
.category {
  display: flex;
  padding: 15px 20px; /* Réduire l'espacement autour du texte */
  text-align: center;
  background-color: #3498db;
  color: #fff;
  margin: 10px; /* Réduire l'espacement horizontal entre les boutons */
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  transition: background-color 0.3s;
  text-decoration: none;
  border: 2px solid #3498db;
}

.categories
{
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 800px) {
  .categories {
    flex-direction: column;
  }
}

/* Style pour les catégories au survol */
.category:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

/* Style pour la catégorie active (sélectionnée) */
.active {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

/* Style pour le conteneur de catégories */
.categories {
  text-align: center; /* Centrer les boutons horizontalement */
}

/* Style pour le conteneur principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Style pour le titre */
.title {
  text-align: center;
  color: #000000;
  font-size: 50px;
  margin-top: 20px;
}
